.LogoAnimation {
  position: absolute;
  right: 100px;

  .Relative {
    position: relative;
    width: 400px;
    height: 300px;
    animation: circle 40s linear 0s infinite;
  }

  img {
    position: absolute;

    &:nth-of-type(1) {
      top: 0;
      left: 64px;
      animation: p 7s infinite;
    }

    &:nth-of-type(2) {
      top: 120px;
      left: 0px;
      animation: a1 7s infinite;
    }

    &:nth-of-type(3) {
      top: 133px;
      left: 145px;
      animation: sh 7s infinite;
    }
    &:nth-of-type(4) {
      transform: rotate(173deg);
      top: 58px;
      left: 234px;
      animation: a2 7s infinite;
    }
  }
}

@keyframes circle {
  from {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes p {
  50% {
    top: -100px;
  }
}

@keyframes sh {
  50% {
    top: 233px;
  }
}

@keyframes a1 {
  50% {
    left: -50px;
  }
}

@keyframes a2 {
  50% {
    left: 284px;
  }
}
