.Modal {
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
	opacity: 0;
	transform: translateZ(0);
	transition: 1s;
}

.Opens {
	z-index: 1000;
	opacity: 1;
	transition: 0s;
	overflow-y: scroll;
}

.Box {
	width: 100%;
	padding: 50px 0 150px;
	height: auto;
	position: relative;
	z-index: 2;
}

@media (max-width: 767px) {
	.Box {
		padding: 0;
	}
}
