@import '../../main';

.preloader {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	background: $background2;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 2000;
	opacity: 1;
	transition: 1s;
	transition-delay: 0.5s;

	.center {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		transition: 1s;
	}

	img {
		opacity: 0;
		transition: 0.5s;
		width: 10rem;
		animation: logo 1.5s 0.5s linear forwards;
	}

	@keyframes logo {
		0% {
			opacity: 0;
			transform: scale(0.8);
		}

		100% {
			opacity: 1;
			transform: scale(1);
		}
	}

	.line {
		position: absolute;
		bottom: -100px;
		width: 20rem;
		height: 2.5px;
		overflow: hidden;

		&:before,
		&:after {
			content: '';
			position: absolute;
			top: 0;
			width: 100%;
			height: 2.5px;
			transform: translate(-100%, 0);
		}

		&:before {
			background-color: rgba(112, 112, 112, 0.2);
			animation: loading 2s 1s cubic-bezier(0.23, 1, 0.32, 1) forwards;
		}

		&:after {
			background-color: #000000;
			animation: loading 1.5s 1.5s cubic-bezier(0.23, 1, 0.32, 1) forwards;
		}

		@keyframes loading {
			100% {
				transform: translate(0, 0);
			}
		}
	}
}

.hide {
	opacity: 0;
	z-index: -1;

	.center {
		opacity: 0;
	}
}

.showLoader {
	opacity: 1;
	z-index: 2000;
	transition: 0.5s;
	transition-delay: 0s;

	img {
		opacity: 1;
		transition: 0.5s;
		animation: spin 1.5s 0.5s linear forwards;
	}

	@keyframes spin {
		to {
			transform: rotate(360deg);
		}
	}

	.line {
		display: none;
	}
}
