@import "../../main";

.Preloader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: $background2;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;

  img {
    width: 10rem;
    max-width: 50%;
    animation: spin 2s infinite linear;
  }

  @keyframes spin {
    to {
      transform: rotate(1turn);
    }
  }
}

.Opens {
  transition: 0.5s;
  z-index: 1000;
  opacity: 1;
}
