@import '../../main';

.contact {
	padding: 5rem 0 10rem;
	background: $black;

	.title {
		margin-bottom: 4.5rem;
	}

	h2 {
		text-align: center;
		color: $light;
	}

	a,
	p {
		font-size: 1.3rem;
		font-weight: 500;
		color: $light;
	}

	.row {
		display: flex;
		justify-content: space-evenly;
	}

	.mail,
	.telegram,
	.text {
		padding: 0 1rem;
		width: 25%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		text-align: center;

		img {
			width: 7rem;
			margin-bottom: 2rem;
		}
	}

	.mailLink,
	.telegramLink {
		p {
			position: relative;
			padding-bottom: 8px;

			&::before {
				content: '';
				position: absolute;
				width: 10%;
				height: 3px;
				background: rgba(255, 255, 255, 0);
				left: 45%;
				bottom: 0;
				transition: 0.5s;
			}
		}

		&:hover {
			p::before {
				width: 100%;
				left: 0%;
				background: $light;
			}
		}
	}

	.text {
		width: 50%;
		padding-bottom: 2rem;

		p {
			font-size: 2rem;
		}
	}
}

@media (max-width: 1350px) {
	.contact {
		.text {
			p {
				font-size: 1.8rem;
			}
		}
	}
}

@media (max-width: 1250px) {
	.contact {
		padding: 3rem 0 6rem;

		.title {
			margin-bottom: 3rem;
		}

		p {
			font-size: 1rem;
		}

		.mail,
		.telegram,
		.text {
			img {
				width: 5.5rem;
			}
		}

		.text {
			p {
				font-size: 1.5rem;
			}
		}
	}
}

@media (max-width: 991px) {
	.contact {
		padding: 2rem 0 6rem;

		p {
			font-size: 1.2rem;
		}

		.mail,
		.telegram,
		.text {
			img {
				width: 4.5rem;
			}
		}

		.row {
			flex-wrap: wrap;
			max-width: 800px;
		}

		.mail,
		.telegram {
			width: 50%;
			order: 1;
		}

		.text {
			width: 100%;
			margin-bottom: 1.5rem;

			p {
				font-size: 1.5rem;
			}
		}
	}
}

@media (max-width: 767px) {
	.contact {
		padding: 2rem 0 5rem;

		p {
			font-size: 1rem;
		}

		.mail,
		.telegram,
		.text {
			img {
				width: 4rem;
			}
		}

		.text {
			p {
				font-size: 1.3rem;
			}
		}
	}
}

@media (max-width: 500px) {
	.contact {
		.mail,
		.telegram {
			width: 100%;
		}

		.mail {
			margin-bottom: 3rem;
		}

		.text {
			margin-bottom: 1rem;

			p {
				font-size: 1rem;
			}
		}
	}
}
