@import "../../../main.scss";

.ModalBackground {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: $background2;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;

  img {
    width: 10rem;
    max-width: 50%;
    animation: spin 2s infinite linear;
  }

  @keyframes spin {
    to {
      transform: rotate(1turn);
    }
  }
}
