@import '../../main';

.AboutMe {
	padding: 9rem 0;

	.Title {
		margin-bottom: 2.5rem;
		text-align: center;
	}

	h4 {
		font-size: 1.8rem;
		font-weight: 500;
	}

	.TitleText {
		margin: 0 auto;
		max-width: 55rem;
		text-align: center;
		margin-bottom: 5rem;
	}
}

.Text {
	display: flex;
	justify-content: space-between;

	.Column {
		width: calc((100% - 2.5rem) / 2);
		h4 {
			text-align: left;
		}
	}

	.ColumnTitle {
		margin-bottom: 1.8rem;
	}
}

@media (max-width: 1250px) {
	.AboutMe {
		padding: 8rem 0 5rem;

		.Title {
			margin-bottom: 3rem;
		}

		.TitleText {
			font-size: 1.7rem;
			margin-bottom: 4.5rem;
		}
	}

	.Text {
		.ColumnTitle {
			margin-bottom: 1.8rem;
		}
	}
}

@media (max-width: 991px) {
	.AboutMe {
		padding: 7rem 0 3rem;

		.Title {
			margin-bottom: 2.5rem;
		}

		.TitleText {
			font-size: 1.6rem;
			margin-bottom: 4rem;
		}
	}

	.Text {
		.ColumnTitle {
			margin-bottom: 1.8rem;
		}
	}
}

@media (max-width: 767px) {
	.AboutMe {
		padding: 3.5rem 0 2.5rem;

		.TitleText {
			font-size: 1.3rem;
			margin-bottom: 3rem;
		}
	}

	.Text {
		flex-direction: column;

		.Column {
			width: 100%;

			&:first-of-type {
				margin-bottom: 3rem;
			}
		}

		.ColumnTitle {
			margin-bottom: 1.3rem;
		}
	}
}

@media (max-width: 500px) {
	.AboutMe {
		.Title {
			margin-bottom: 2rem;
		}

		.TitleText {
			text-align: left;
			font-size: 1rem;
			margin-bottom: 2rem;
		}
	}

	.Text {
		.Column {
			&:first-of-type {
				margin-bottom: 2rem;
			}
		}

		.ColumnTitle {
			margin-bottom: 1.3rem;
		}
	}
}
